html{
    height: 100%;
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    display: block;
    width: 100%;
    margin-top: .5rem;
    padding: 1rem 1rem;
    border: none;
    background-color: #ff9933;
    border-radius: 5px;
    font-size: large;
    color: aliceblue;
}

.btn:hover{
    background-color: #ffa64d;
    -webkit-box-shadow: -1px 3px 78px -28px rgba(37, 62, 207, 0.75);
    -moz-box-shadow: -1px 3px 78px -28px rgba(223, 213, 213, 0.75);
    box-shadow: -1px 3px 78px -28px rgba(209, 29, 29, 0.75);
    transition: all ease-in 200ms;
}

.btn:active{
    transform: scale(0.9);
    transition: all ease-in 1ms;
}

.answer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    margin-bottom: 5px;
    background-color: #ffb366;
    padding: .5rem 0;
    border: none;
    border-radius: 6px;
    height: 4rem;
}

btn.active{

}

input{
    padding: 1rem;
    text-align: center;
    font-size: larger;
    border: none;
    background-color: aliceblue;
    border-radius: 5px; 
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.span-2 {
    grid-column: span 2;
    background-color: blue;
}